
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OtherView</title>
</head>
<body>
    <div> 
        Kvittering for at have bestilt @ViewBag.Antal af @ViewBag.Varetype
    </div>
</body>
</html>
